@charset "UTF-8";
/* Helpers */
.is-clickable {
  cursor: pointer;
}

.is-flex {
  display: flex;
}

.max-width-800 {
  max-width: 800px;
}

/* Vendor */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
  overflow: hidden;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Select2 scroll bug */
.select2-container, .select2-dropdown, .select2-search, .select2-results {
  transition: none !important;
}

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.col.reverse {
  flex-direction: column-reverse;
}

[class*=col-xs] {
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  flex-basis: auto;
}

.col-xs-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-xs-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-xs-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-xs-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-xs-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.col-xs {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.start-xs {
  justify-content: flex-start;
  text-align: left;
}

.center-xs {
  justify-content: center;
  text-align: center;
}

.end-xs {
  justify-content: flex-end;
  text-align: right;
}

.top-xs {
  align-items: flex-start;
}

.middle-xs {
  align-items: center;
}

.bottom-xs {
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

.col-1 {
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex-basis: 100%;
  max-width: 100%;
}

@media only screen and (min-width: 48em) {
  .container {
    width: 46rem;
  }

  [class*=col-sm] {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-basis: auto;
  }

  .col-sm-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-sm-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-sm-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-sm-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-sm-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }

  .col-sm {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .start-sm {
    justify-content: flex-start;
    text-align: left;
  }

  .center-sm {
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    justify-content: flex-end;
    text-align: right;
  }

  .top-sm {
    align-items: flex-start;
  }

  .middle-sm {
    align-items: center;
  }

  .bottom-sm {
    align-items: flex-end;
  }

  .around-sm {
    justify-content: space-around;
  }

  .between-sm {
    justify-content: space-between;
  }

  .first-sm {
    order: -1;
  }

  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 62em) {
  .container {
    width: 61rem;
  }

  [class*=col-md] {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-basis: auto;
  }

  .col-md-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-md-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-md-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-md-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-md-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }

  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .start-md {
    justify-content: flex-start;
    text-align: left;
  }

  .center-md {
    justify-content: center;
    text-align: center;
  }

  .end-md {
    justify-content: flex-end;
    text-align: right;
  }

  .top-md {
    align-items: flex-start;
  }

  .middle-md {
    align-items: center;
  }

  .bottom-md {
    align-items: flex-end;
  }

  .around-md {
    justify-content: space-around;
  }

  .between-md {
    justify-content: space-between;
  }

  .first-md {
    order: -1;
  }

  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 75em) {
  .container {
    width: 71rem;
  }

  [class*=col-lg] {
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    flex-basis: auto;
  }

  .col-lg-1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
  }

  .col-lg-2 {
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
  }

  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-lg-4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
  }

  .col-lg-5 {
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
  }

  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-lg-7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
  }

  .col-lg-8 {
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
  }

  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-lg-10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
  }

  .col-lg-11 {
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
  }

  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }

  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }

  .start-lg {
    justify-content: flex-start;
    text-align: left;
  }

  .center-lg {
    justify-content: center;
    text-align: center;
  }

  .end-lg {
    justify-content: flex-end;
    text-align: right;
  }

  .top-lg {
    align-items: flex-start;
  }

  .middle-lg {
    align-items: center;
  }

  .bottom-lg {
    align-items: flex-end;
  }

  .around-lg {
    justify-content: space-around;
  }

  .between-lg {
    justify-content: space-between;
  }

  .first-lg {
    order: -1;
  }

  .last-lg {
    order: 1;
  }
}
/*
This .scss loop will create "margin helpers" and "padding helpers" for use in your web projects.
It will generate several classes such as:
.m-r-10 which gives margin-right 10 pixels.
.m-r-15 gives MARGIN to the RIGHT 15 pixels.
.m-t-15 gives MARGIN to the TOP 15 pixels and so on.
.p-b-5 gives PADDING to the BOTTOM of 5 pixels
.p-l-40 gives PADDING to the LEFT of 40 pixels
The first letter is "m" or "p" for MARGIN or PADDING
Second letter is "t", "b", "l", or "r" for TOP, BOTTOM, LEFT, or RIGHT
Third letter is the number of spacing in pixels. Adjust the amounts generated by editing the $spaceamounts variable below.
*/
.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.m-t-0 {
  margin-top: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.m-t-5 {
  margin-top: 5px;
}

.p-t-5 {
  padding-top: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.m-10 {
  margin: 10px;
}

.p-10 {
  padding: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.m-15 {
  margin: 15px;
}

.p-15 {
  padding: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.m-20 {
  margin: 20px;
}

.p-20 {
  padding: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.m-25 {
  margin: 25px;
}

.p-25 {
  padding: 25px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.m-30 {
  margin: 30px;
}

.p-30 {
  padding: 30px;
}

.m-t-30 {
  margin-top: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.m-35 {
  margin: 35px;
}

.p-35 {
  padding: 35px;
}

.m-t-35 {
  margin-top: 35px;
}

.p-t-35 {
  padding-top: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.m-l-35 {
  margin-left: 35px;
}

.p-l-35 {
  padding-left: 35px;
}

.m-r-35 {
  margin-right: 35px;
}

.p-r-35 {
  padding-right: 35px;
}

.m-40 {
  margin: 40px;
}

.p-40 {
  padding: 40px;
}

.m-t-40 {
  margin-top: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.m-45 {
  margin: 45px;
}

.p-45 {
  padding: 45px;
}

.m-t-45 {
  margin-top: 45px;
}

.p-t-45 {
  padding-top: 45px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.m-l-45 {
  margin-left: 45px;
}

.p-l-45 {
  padding-left: 45px;
}

.m-r-45 {
  margin-right: 45px;
}

.p-r-45 {
  padding-right: 45px;
}

.m-50 {
  margin: 50px;
}

.p-50 {
  padding: 50px;
}

.m-t-50 {
  margin-top: 50px;
}

.p-t-50 {
  padding-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.m-70 {
  margin: 70px;
}

.p-70 {
  padding: 70px;
}

.m-t-70 {
  margin-top: 70px;
}

.p-t-70 {
  padding-top: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.m-l-70 {
  margin-left: 70px;
}

.p-l-70 {
  padding-left: 70px;
}

.m-r-70 {
  margin-right: 70px;
}

.p-r-70 {
  padding-right: 70px;
}

.m-75 {
  margin: 75px;
}

.p-75 {
  padding: 75px;
}

.m-t-75 {
  margin-top: 75px;
}

.p-t-75 {
  padding-top: 75px;
}

.m-b-75 {
  margin-bottom: 75px;
}

.p-b-75 {
  padding-bottom: 75px;
}

.m-l-75 {
  margin-left: 75px;
}

.p-l-75 {
  padding-left: 75px;
}

.m-r-75 {
  margin-right: 75px;
}

.p-r-75 {
  padding-right: 75px;
}

.m-100 {
  margin: 100px;
}

.p-100 {
  padding: 100px;
}

.m-t-100 {
  margin-top: 100px;
}

.p-t-100 {
  padding-top: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.m-l-100 {
  margin-left: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.m-r-100 {
  margin-right: 100px;
}

.p-r-100 {
  padding-right: 100px;
}

.m-120 {
  margin: 120px;
}

.p-120 {
  padding: 120px;
}

.m-t-120 {
  margin-top: 120px;
}

.p-t-120 {
  padding-top: 120px;
}

.m-b-120 {
  margin-bottom: 120px;
}

.p-b-120 {
  padding-bottom: 120px;
}

.m-l-120 {
  margin-left: 120px;
}

.p-l-120 {
  padding-left: 120px;
}

.m-r-120 {
  margin-right: 120px;
}

.p-r-120 {
  padding-right: 120px;
}

.m-150 {
  margin: 150px;
}

.p-150 {
  padding: 150px;
}

.m-t-150 {
  margin-top: 150px;
}

.p-t-150 {
  padding-top: 150px;
}

.m-b-150 {
  margin-bottom: 150px;
}

.p-b-150 {
  padding-bottom: 150px;
}

.m-l-150 {
  margin-left: 150px;
}

.p-l-150 {
  padding-left: 150px;
}

.m-r-150 {
  margin-right: 150px;
}

.p-r-150 {
  padding-right: 150px;
}

.pull-right {
  float: right;
}

/* Brand */
/* Colors */
/* Fonts */
/* Headings */
h1, h2, h3, h4, h5, h6, h7, h8 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 500;
}

h1 {
  font-size: 28px;
}

/* Forms & Buttons */
input, textarea, select {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  padding: 11px 13px;
  font: 400 14px "Lato", sans-serif;
  background: white;
  width: 100%;
  line-height: 20px;
  color: #8a858e;
}
input ::-webkit-input-placeholder, textarea ::-webkit-input-placeholder, select ::-webkit-input-placeholder {
  color: #949494;
}
input :-ms-input-placeholder, textarea :-ms-input-placeholder, select :-ms-input-placeholder {
  color: #949494;
}
input ::-ms-input-placeholder, textarea ::-ms-input-placeholder, select ::-ms-input-placeholder {
  color: #949494;
}
input ::placeholder, textarea ::placeholder, select ::placeholder {
  color: #949494;
}
input:disabled, textarea:disabled, select:disabled {
  background: #efefef;
  cursor: not-allowed;
}
input:focus, textarea:focus, select:focus {
  box-shadow: 0 3px 12px rgba(188, 188, 195, 0.15);
  outline: 0;
}

select {
  cursor: pointer;
}

.has-icon-left {
  position: relative;
}
.has-icon-left .fa {
  position: absolute;
  left: 10px;
  pointer-events: none;
  top: 30%;
  opacity: 0.5;
}
.has-icon-left input[type=text] {
  padding-left: 40px;
}
.has-icon-left input[type=text]:active + .fa, .has-icon-left input[type=text]:hover + .fa, .has-icon-left input[type=text]:focus + .fa {
  opacity: 0.75;
}

.form-group {
  margin: 15px 0;
  padding: 15px 0;
  display: flex;
  flex-wrap: wrap;
}
.form-group .form-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.form-group .form-label label {
  color: #746780;
  font-size: 14px;
  display: block;
  padding: 10px 2px;
  font-weight: 600;
}
.form-group .form-label .badge {
  align-self: flex-start;
}

/* Custom fields */
.field-single-file-input {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}
.field-single-file-input .file-preview {
  max-width: 75px;
}
.field-single-file-input .file-preview img {
  max-width: 100%;
}
.field-single-file-input .file-input-container {
  flex: 1;
  flex-wrap: wrap;
  display: flex;
  padding: 0 25px;
}
.field-single-file-input .file-input-container input {
  width: 100%;
}
.field-single-file-input .file-input-container label {
  width: 100%;
  padding: 7px 0;
}

.button {
  text-decoration: none;
  border-radius: 4px;
  padding: 11px 19px;
  background: #743ca8;
  color: #F2F5F7;
  text-transform: uppercase;
  font-size: 12px;
  border: none;
}
.button:hover {
  background-color: #892fdc;
  color: #F2F5F7;
}

.button.button-white {
  background: #F2F5F7;
  color: #183B66;
}
.button.button-white:hover {
  background: #e8ebed;
  color: #183B66;
}

.button.is-link {
  background: none;
  color: #183B66;
}
.button.is-link:hover {
  text-decoration: underline;
  background: none;
  color: #183B66;
}

.button.is-bold {
  font-weight: 600;
}

/* Icons */
.button.has-icon-right > span {
  padding: 0 0px 0 10px;
}
.button.has-icon-right.button-primary > span {
  color: #b09bc3;
}

/**
 * Badges
 */
.badge {
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 4px;
}

.badge-light {
  background: #efefef;
}

/* Layout */
nav.header {
  background: #ffffff;
  height: 22px;
  width: 100%;
  display: flex;
  margin: -15px -15px 0 -15px;
  padding: 15px;
  border-bottom: 1px solid #f3f3f3;
}

main.page-layout {
  display: flex;
  flex: 1;
  min-height: 100%;
}
main.page-layout .page-content {
  padding: 15px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  overflow: hidden;
}

nav.page-sidebar {
  width: 160px;
  display: flex;
  background: #31353a;
  height: 100%;
  /* Top level items */
  /* Submenus */
  /* Hover: Show menu to the right if not already active */
  /* Active Submenu */
}
nav.page-sidebar .page-sidebar-items {
  font-size: 13px;
  width: 160px;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #31353a;
}
nav.page-sidebar .page-sidebar-items .page-sidebar-item {
  position: relative;
}
nav.page-sidebar .page-sidebar-items .page-sidebar-item.is-menu-title {
  margin: 0 0 5px 0;
  background: black;
}
nav.page-sidebar .page-sidebar-items .page-sidebar-item.is-menu-title a {
  height: 51px;
  display: flex;
  padding: 0;
  align-items: center;
  text-indent: 7px;
}
nav.page-sidebar .page-sidebar-item a {
  color: #fbfbfb;
  padding: 13px 9px;
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
}
nav.page-sidebar .page-sidebar-item a .fas, nav.page-sidebar .page-sidebar-item a .fa, nav.page-sidebar .page-sidebar-item a .fal {
  color: #9c9c9c;
  margin: 0 5px 0 0;
}
nav.page-sidebar .page-sidebar-item:hover > a {
  color: #e7d0fd;
  background: #412d54;
}
nav.page-sidebar .page-sidebar-item:hover > a .fas, nav.page-sidebar .page-sidebar-item:hover > a .fa, nav.page-sidebar .page-sidebar-item:hover > a .fal {
  color: white;
}
nav.page-sidebar .page-sidebar-item.is-active > a {
  color: #e7d0fd;
  background: #412d54;
}
nav.page-sidebar .page-sidebar-item.is-active > a .fas, nav.page-sidebar .page-sidebar-item.is-active > a .fa, nav.page-sidebar .page-sidebar-item.is-active > a .fal {
  color: white;
}
nav.page-sidebar .page-sidebar-item.is-active > a::after {
  content: "\F0D9";
  font-family: "FontAwesome";
  position: absolute;
  right: 0;
  top: 15px;
  font-weight: 600;
}
nav.page-sidebar .page-sidebar-submenu {
  display: none;
}
nav.page-sidebar .page-sidebar-submenu a {
  color: #fbfbfb;
  font-size: 12px;
  text-indent: 3px;
}
nav.page-sidebar .page-sidebar-item:hover .page-sidebar-submenu {
  position: absolute;
  top: -5px;
  left: 160px;
  display: block;
  background: #412d54;
  width: 160px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 10;
}
nav.page-sidebar .page-sidebar-item:hover .page-sidebar-submenu .fas, nav.page-sidebar .page-sidebar-item:hover .page-sidebar-submenu .fa, nav.page-sidebar .page-sidebar-item:hover .page-sidebar-submenu .fal {
  display: none;
}
nav.page-sidebar .page-sidebar-item.is-active .page-sidebar-submenu {
  position: initial;
  top: initial;
  left: initial;
  display: block;
  width: auto;
  border-left: 3px solid #8300ff;
  font-size: 12px;
}
nav.page-sidebar .page-sidebar-item.is-active .page-sidebar-submenu a {
  background: #412d54;
}
nav.page-sidebar .page-sidebar-item.is-active .page-sidebar-submenu a.is-active {
  font-weight: bold;
}
nav.page-sidebar .page-sidebar-item.is-active .page-sidebar-submenu .fas, nav.page-sidebar .page-sidebar-item.is-active .page-sidebar-submenu .fa, nav.page-sidebar .page-sidebar-item.is-active .page-sidebar-submenu .fal {
  display: inline-block;
  font-size: 10px;
}

/* Components */
.component-box {
  background: white;
  border-radius: 3px;
  border: 1px solid #f7f7f7;
  box-shadow: 0px 3px 3px rgba(241, 241, 241, 0.3490196078);
}
.component-box > .title {
  padding: 30px 30px 15px 30px;
  display: flex;
  flex-wrap: wrap;
}
.component-box > .content {
  padding: 35px 0;
}

.component-breadcrumb {
  display: flex;
}
.component-breadcrumb .breadcrumb-item {
  margin: 0 12px 0 0;
}
.component-breadcrumb a.breadcrumb-item {
  padding-right: 5px;
  position: relative;
}
.component-breadcrumb a.breadcrumb-item::after {
  content: "\F054";
  font-family: "FontAwesome";
  position: absolute;
  right: -6px;
  font-size: 8px;
  top: 4px;
  font-weight: 900;
}

.component-datatable {
  width: 100%;
  font-size: 15px;
}
.component-datatable th {
  text-align: left;
  padding: 15px 5px;
}
.component-datatable tbody tr:hover {
  background: #f9f9f9;
}
.component-datatable td {
  padding: 15px 5px;
  display: table-cell;
  vertical-align: middle;
}
.component-datatable td a {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
}

/* Pagination */
.component-datatable .dataTables_paginate {
  padding: 15px;
  background: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-datatable .dataTables_paginate .paginate_button {
  background: white;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}
.component-datatable .dataTables_paginate .paginate_button.current {
  background: #743ca8;
  color: white;
}
.component-datatable .dataTables_paginate .paginate_button:hover {
  background: #9575b3;
  color: white;
}

.component-datatable.is-clickable tr {
  cursor: pointer;
}
.component-datatable.is-clickable tr:hover {
  box-shadow: 0px 0px 30px #f9f5f9;
}

.component-tabs {
  display: flex;
  flex-wrap: wrap;
}
.component-tabs .nav-tabs {
  display: flex;
  width: 100%;
}
.component-tabs .nav-item {
  display: flex;
}
.component-tabs .nav-link {
  padding: 15px 22px 15px 22px;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin: 0 7px 0 0;
  background: #efefef;
  color: #743ca8;
}
.component-tabs .nav-link.active {
  background: white;
  font-weight: bold;
  z-index: 1;
}
.component-tabs .tab-content {
  border: 1px solid #e4e4e4;
  border-radius: 5px;
  border-top-left-radius: 0;
  display: flex;
  width: 100%;
  margin: -1px 0 0 0;
}
.component-tabs .tab-pane {
  display: none;
  padding: 15px;
  width: 100%;
}
.component-tabs .tab-pane.active {
  display: block;
}

.component-thumbnail.for-datatable {
  max-width: 45px;
}

* {
  transition: 0.15s ease;
}

html, body {
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

body {
  background-color: #fbfbfb;
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

/* containers */
.container {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

.datagrid-thumbnail-404 {
  display: inline-block;
  vertical-align: middle;
}

/* Form inputs */
.form-control {
  width: 100%;
}

/* Select2 Theme */
.select2-container--dash-theme {
  width: 100%;
  /* Allow options to be large in height */
}
.select2-container--dash-theme img {
  max-width: 45px;
}
.select2-container--dash-theme .select2-selection.select2-selection--single {
  padding: 6px;
  height: auto;
}
.select2-container--dash-theme .select2-selection--single .select2-selection__rendered {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding-left: 0;
}
.select2-container--dash-theme .select2-selection--single .select2-image-field {
  max-width: 45px;
}

.navbar-static-side li a {
  display: flex;
  align-items: center;
}
.navbar-static-side li a .fa, .navbar-static-side li a .fab, .navbar-static-side li a .fas, .navbar-static-side li a .fal {
  font-size: 22px;
  padding: 0 7px 0 0;
}

.md-skin .page-heading {
  padding-top: 20px;
}
.md-skin .page-heading .breadcrumb {
  opacity: 0.5;
  margin: 7px 0 0 0;
}
.md-skin .page-heading .breadcrumb:hover {
  opacity: 1;
}
.md-skin .page-heading .breadcrumb li {
  margin: 0 15px 0 0;
}