.dash-media-library {
  background: white;
  padding: 30px 0;
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  /* Sidebar */
  /* Main content area */
  /* Media upload dialog */
}
.dash-media-library .column-sidebar {
  flex: 1;
  max-width: 210px;
  background: white;
}
.dash-media-library .column-sidebar .folder-item {
  font-size: 18px;
  background: white;
  color: #684a8e;
  padding: 15px;
  position: relative;
}
.dash-media-library .column-sidebar .folder-item.is-clickable.is-title {
  background: #f0e8f9;
  color: #684a8e;
  margin: 0 0 15px 0;
}
.dash-media-library .column-sidebar .folder-item.is-clickable.is-title:hover {
  background: #f0e8f9;
}
.dash-media-library .column-sidebar .folder-item.is-clickable.is-title:before {
  content: "";
  width: 6px;
  height: 49px;
  background: #f0e8f9;
  position: absolute;
  top: 0;
  left: -6px;
}
.dash-media-library .column-sidebar .folder-item.is-clickable.is-title:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  background: #dad1e3;
  width: 8px;
  height: 8px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  z-index: -1;
}
.dash-media-library .column-sidebar .folder-item.is-clickable {
  cursor: pointer;
}
.dash-media-library .column-sidebar .folder-item.is-clickable:hover {
  background: #fcfaff;
}
.dash-media-library .column-primary {
  flex: 1;
  flex-grow: 1;
  background: white;
  margin: 0 0 0 35px;
  /* Search */
  /* Folders */
  /* Media items */
}
.dash-media-library .column-primary section.search {
  display: flex;
}
.dash-media-library .column-primary section.search .input-search {
  background: #f1f1f1;
  border-radius: 4px;
  border: none;
  color: #949494;
  font-size: 16px;
  padding: 15px;
}
.dash-media-library .column-primary section.search .button-primary {
  margin: 0 5px 0 50px;
  flex: 1 220px;
  font-size: 12px;
  font-weight: bold;
}
.dash-media-library .column-primary section.search .button-primary .fa {
  color: #b892e7;
  margin: 0 5px 0 0;
}
.dash-media-library .column-primary .folder-items {
  display: flex;
  flex-wrap: wrap;
  padding: 15px 0;
}
.dash-media-library .column-primary .folder-items .folder-item {
  padding: 10px;
  margin: 0 12px 12px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.dash-media-library .column-primary .folder-items .folder-item:hover {
  background: #ccc;
}
.dash-media-library .column-primary .file-items {
  display: flex;
  flex-wrap: wrap;
}
.dash-media-library .column-primary .file-items .file-item {
  border: 1px solid #ccc;
  margin: 0 12px 12px 0;
  border-radius: 4px;
  width: 200px;
  height: 200px;
  position: relative;
}
.dash-media-library .column-primary .file-items .file-item .media-preview {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.dash-media-library .column-primary .file-items .file-item .media-preview .media-image {
  height: 200px;
  width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.dash-media-library .column-primary .file-items .file-item .media-preview .media-icon {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #743ca8;
}
.dash-media-library .column-primary .file-items .file-item .file-label {
  height: 32px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  background: white;
  font-size: 11px;
  color: #797979;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dash-media-library .column-primary .file-items .file-item .file-label .fa {
  margin: 0 7px 0 0;
}
.dash-media-library .media-upload-dialog {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9999;
  display: none;
}
.dash-media-library .media-upload-dialog.is-visible {
  display: block;
}
.dash-media-library .media-upload-dialog .status {
  padding: 25px;
  text-align: center;
  border: 1px solid #ccc;
}

/* Helper css classes */
.dash-media-library .is-hidden {
  display: none;
}